SECURITY: 1 decode of < 10 bytes of malformed CBOR data can exhaust memory and cause fatal error

🔥 this CBOR security issue is already public knowledge since Sep 2019 or earlier.  

duo-labs/webauthn is using a CBOR library that can exhaust memory in 1 decode attempt of malformed CBOR data (which can be shorter than "hello world".)

Example of affected code in duo-labs/webauthn:
https://github.com/duo-labs/webauthn/blob/5ff263b3ad295350e3f34d9b459a5b4538da2668/protocol/authenticator.go#L199-L203

Search for "CborHandle" and see if it gets used for decoding to find additional relevant code.

## Background

__October 2013__ - RFC 7049 (CBOR) is approved by IETF as an Internet Standard.   Section 8 of RFC 7049 warns of malicious CBOR being used for resource exhaustion attacks.

__September 2019__ - oasislabs finds tiny malformed CBOR data causes fatal out of memory error when decoded with latest releases of ugorji/go and switched to fxamacker/cbor in early October 2019.  

__February 2020__ - smartcontractkit/chainlink has a security issue with ugorji/go that is closed by switching to fxamacker/cbor.  I don't have login access to view their security issue.

__March 2020__ - @fxamacker finds tiny malformed CBOR data that causes fatal out of memory error when decoded with any release of ugorji/go (1.1.0 - 1.1.7 as well as last commit 42bc974).   

## Comparisons

#### __[fxamacker/cbor](https://github.com/fxamacker/cbor/blob/master/README.md)__ comparisons to ugorji/go.

![alt text](https://github.com/fxamacker/images/raw/master/cbor/v2.2.0/cbor_security_march2020_638px.svg?sanitize=1 "CBOR Security Comparison")

__Click to expand:__

<details>
  <summary>CBOR Program Size Comparison</summary><p>
  
__fxamacker/cbor__ can produce smaller programs.
  
![alt text](https://github.com/fxamacker/images/raw/master/cbor/v2.2.0/cbor_size_comparison.png "CBOR library and program size comparison chart")

</details>

<details>
  <summary>CBOR Speed Comparison</summary><p>

__fxamacker/cbor__ can be faster for CBOR data such as CBOR Web Tokens.

![alt text](https://github.com/fxamacker/images/raw/master/cbor/v2.2.0/cbor_speed_comparison.png "CBOR library speed comparison chart")

</details>

<details>
  <summary>CBOR Memory Comparison</summary><p>

__fxamacker/cbor__ can use less memory for CBOR data such as CBOR Web Tokens.

![alt text](https://github.com/fxamacker/images/raw/master/cbor/v2.2.0/cbor_memory_table.svg?sanitize=1 "CBOR Memory Comparison")

</details>

Benchmarks used example data from [RFC 8392 Appendix A.1](https://tools.ietf.org/html/rfc8392#appendix-A.1) and default options for CBOR libraries.

